* {
  font-family: "BentonSans", sans-serif;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
}

span {
  text-decoration: underline;
}

img {
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0px 5px 35px rgba(0,0,0,.2);
  margin-top: 30px;
}

center {
  margin-top: 6em;
}

.squareContainer {
  position: fixed;
  left: calc(50% - 75px);
  bottom: 0px;

  transition: bottom .4s ease-in-out;
}

.squareContainer:hover {
  bottom: 10px;
}

.squareContainer:hover .squares {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.squares {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0,0,0,.2);

  transition: border-bottom-right-radius .4s ease-in-out, border-bottom-left-radius .4s ease-in-out;
}

.square {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0);

  transition: box-shadow .2s ease-in-out;
}

.square:hover {
  /* border: 1px solid rgba(0,0,0,1); */
  box-shadow: 0px 2px 8px rgba(0,0,0,.2);
}
